// General Styles
* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

html, body {
   font: 1.6rem @body-font;
   color: @body-color;
   // background-color: @bg-color;
}

h1, h2, h3, h4, h5 {
   font-family: @header-font;
   color: @header-color;
   font-weight: bold;
}

h1 {
   font-size: 3.2rem;
}

h2 {
   font-size: 2.6rem;
}

h3 {
   font-size: 2.0rem;
}

h4 {
   font-size: 1.6rem;
}

p {
   font-size: 1.6rem;
}

.content {
   background-color: @attention-color;
   color: @light-text;
   margin: 0 auto;
   min-width: 320px;
   max-width: 1000px;
   text-align: center;
}