// General Styles
* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

#root {
   // background-color: @bg-color;
   color: @body-color;
   font-family: @body-font;
   
   h1, h2, h3, h4, h5 {
      font-family: @header-font;
      color: @header-color;
      font-weight: bold;
   }
   
   h1 {
      font-size: 2.8rem;
   }
   
   h2 {
      font-size: 2.4rem;
   }
   
   h3 {
      font-size: 2.0rem;
   }
   
   h4 {
      font-size: 1.6rem;
   }
   
   p {
      font-size: 1.6rem;
   }

   a {
      font-size: 1.6rem;
   }
   
   .App {
      color: @dark-text;
      margin: 0 auto;
      min-width: 320px;
      max-width: 1000px;
      text-align: center;
   
      header {
         background-color: @header-bg;
         border-bottom: 1px solid @header-border;
         padding: 7px 0;
      }

      article {
         .custom-layout(flex-start);
      }
   }
}
