#root {
   nav {
      background-color: @nav-bg;
      // border-right: 2px solid @nav-border;
      color: @light-text;
      min-height: 80vh;
      padding: 0;
      width: 200px;
   
      .custom-layout(flex-start, flex-start, column);

      a {
         // background-color: @link-bg;
         color: @link-color;
         padding: 8px 16px;
         text-decoration: none;
         width: 100%;

         &:visited {
            color: @link-color-visited;
         }

         &:hover {
            opacity: 0.7;
         }

         &.active {
            background-color: @link-bg-active;
         }
      }
   }
}