// Fonts //
@import 'https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed&display=swap';
@header-font: 'Roboto Condensed', Sans-Serif;
@body-font: 'Cabin', Sans-Serif;

// Color Palette //
@color-1: #000;
@color-2: #333;
@color-3: #666;
@color-4: #ececec;
@color-5: #fff;
// @color-1: #1a1423;
// @color-2: #3d314a;
// @color-3: #85756e;
// @color-4: #f2ecdd;
// @color-5: #ddd1c7;

// Colors //
@attention-color: @color-3;
@attention-border: @color-2;
@subtle-border: @color-5;
@bg-color: @color-4;
@dark-text: @color-1;
@light-text: @color-4;
@header-color: @dark-text;
@body-color: @dark-text;
@link: @light-text;
@link-visited: @light-text;
// @link-visited: @attention-border;
@link-hover: @subtle-border;

// Autumn Breeze //
//    #c9cba3  • #ffe1a8 • #e26d5c • #723d46 • #472d30
// Cappuccino //
//    #4b3832 • #854442 • #fff4e6 • #3c2f2f • #be9b7b
// Blueberry Basket //
//    #ffffff • #d0e1f9 • #4d648d • #283655 • #1e1f26
// Beach Towels //
//    #fe4a49 • #2ab7ca • #fed766 • #e6e6ea • #f4f4f8
// Beautiful Blues //
//    #011f4b • #03396c • #005b96 • #6497b1 • #b3cde0
// Program Catalog //
//    #edc951 • #eb6841 • #cc2a36 • #4f372d • #00a0b0
// Shades of White //
//    #faf0e6 • #fff5ee • #fdf5e6 • #faf0e6 • #faebd7
